<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      日本全国の<span class='title-ofukuro'>お袋の味</span>が集結
    </h2>
    <p class='service-explain'>
      自宅にいながら全国のお袋の味に会える
    </p>
    <p class='service-explain'>
      フリーマーケット市場
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  
  <div class='select-reason-contents'>
    <h2 class='title'>
      Mom'sが選ばれる理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "kouyama.png", class:"list-pict waku" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>初心者</span>
          でも簡単に出品
        </h3>
        <p class='reason-list-description'>
          初めてスマホを使う方でも安心！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "cooking_fish.png", class:"list-pict waku" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>手料理</span>
          が自宅に届く
        </h3>
        <p class='reason-list-description'>
          食べたかった味が簡単に見つかる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "usuki.png", class:"list-pict waku" %>
        <h3 class='reason-list-text'>
        どこにいながらでも
          <span class='reason-list-blue-text'>田舎</span>
          を感じれる
        </h3>
        <p class='reason-list-description'>
          いつでも田舎に帰った気分！
        </p>
      </li>
    </ul>
  </div>

  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      Mom'sは、フリマ市場で最も人気。
    </p>
    <p class='ad-explain'>
      出品・購入回数も業界最多です！
    </p>
    <p class='ad-explain'>
      まだ見ぬ全国のお袋の味に出会えるかもしれません。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "uni.png", class: "item-img" %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <div class='sold-out'>
            <%= image_tag "urikire.png" %>
          </div>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "商品名" %>
          </h3>
          <div class='item-price'>
            <span><%= "販売価格" %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合のダミー %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "niku.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# /商品がない場合のダミー %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品</span>
  <a href="#">
    <%= image_tag 'camera.png' , size: '185x60' ,class: "purchase-btn-icon" %>
  </a>
</div>
<%= render "shared/footer" %>